* {
    margin:0;
    padding:0;
}

#divInizioPagina {
    background-color: white;
    height:60px;
}
#paragrafoInizioPagina {
    font-size: 40px;
    margin-left: 35%;
    background-color: white;
}

#logout {
    position: absolute;
    right:0;
    top:0;
    height: 60px;
    width:10%;

}

.modIconaUtente {
    position:absolute;
    margin-right:10px;
    font-size:30px;
    right:0;
}
.logoutAnc {
    position: absolute;
    right:0;
    bottom:10px;
    margin-right:5px;
}
 a {
    color:black;
    font-weight: bold;
    text-decoration: none;
}

 a:hover {
     color:blue;
     cursor: pointer;
 }



#navBar {
    border-top: black;
    border-top-style: solid;
    border-bottom: black;
    border-bottom-style: solid;
    height: 40px;
    width: 100%;
    position: sticky;

}

#vociContainer {
    list-style: none;
    line-height: 30px;
    display: flex;
}

#divlistaNavBar {
    height: 100%;
}
.voci {
    font-size: 20px;
    margin-left: 16%;
    border-bottom: black;
    border-bottom-style: solid;
}


#sezioneBuffet {
    border-style: solid;
    border-color: black;
    background-color: #e8e6e6;
}

#sezioneChef {
    border-style: solid;
    border-color: black;
    background-color: #cccccc;

}

#sezionePiatti {
    border-style: solid;
    border-color: black;
    background-color: #8d8c8c;
}


#sezioneIngredienti {
    border-style: solid;
    border-color: black;
    background-color: #6c6c6c;
}
.divPreParagrafo {
    height: 7%;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color:black;
}

.ScrittaPreParagrafo {
    margin-left: 45%;
    font-size: 50px;
    color:black;
}


.singoloElemento {
    display: flex;
    justify-content: space-between;
    height:70px;
    border-style: solid;
    border-color: black;
}

.bottoni {
    height: 70%;
    margin-top: 10%;
}
.bottoni:hover {
    cursor:pointer;
}

.divcampo {
    height: 100%;
    width: 25%;
    font-size: 25px;
    color:black;

}

