<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>modifica ingrediente </title>
</head>
<body>
<form th:action="@{'/admin/modificaIngrediente/' + ${ingrediente.id}}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>
    <div th:object="${ingrediente}">
        <div>
            <span> Nome: </span>
            <input type="text" th:value="${ingrediente.nome}" th:field="${ingrediente.nome}">
        </div>
        <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>

        <div>
            <span> Origine: </span>
            <input type="text" th:value="${ingrediente.origine}" th:field="${ingrediente.origine}">
        </div>
        <div th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></div>
        <div>
            <span> Descrizione: </span>
            <input type="text" th:value="${ingrediente.descrizione}" th:field="${ingrediente.descrizione}">
        </div>
    </div>
    <button type="submit"> conferma modifiche</button>


</form>

<footer><a href="/"> Home </a></footer>

</body>
</html>