<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dati buffet modificato</title>
</head>
<body>
<div>
    <div>
        <span th:text="${buffet.nome}"> nome: </span>
    </div>

    <div>
        <span th:text="${buffet.descrizione}"> descrizione: </span>
    </div>

    <div>
        <div>
            <span th:text="${buffet.chef.nome}"> nome chef: </span>
        </div>

        <div>
            <span th:text="${buffet.chef.cognome}"> cognome chef: </span>
        </div>

        <div>
            <span th:text="${buffet.chef.nazionalita}"> nazionalita chef: </span>
        </div>
    </div>

    <div>
        <div th:each="piatto : ${buffet.piatti}">
            <span th:text="${piatto.nome}"> nome: </span>
            <span> descrizione: </span>
            <input th:text="${piatto.descrizione}">
            <div th:each="ingrediente : ${ingredienti}">
                <span th:text="${ingrediente.nome}"> nome: </span>
                <span th:text="${ingrediente.origine}"> origine: </span>
                <span th:text="${ingredeinte.descrizione}"> descrizione: </span>
            </div>
        </div>


    </div>
</div>
</body>
</html>