<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/indexCss.css}" />
</head>
<body>
<div id="divInizioPagina">
    <p id="paragrafoInizioPagina"> Petrilli Catering </p>
    <div sec:authorize="!isAuthenticated()">
    <a id="accedi" th:href="@{/login}"> Accedi </a>
    <a id="registrati" th:href="@{/register}"> Registrati </a>
    </div>
    <a id="logout" sec:authorize="isAuthenticated()" th:href="@{/logout}"> Logout </a>

</div>




<nav id="navBar">
    <div id="divlistaNavBar">
    <ul id="vociContainer">
        <li class ="voci" ><a th:href="@{/visualizzaBuffets}">  Buffet </a></li>
        <li class ="voci"><a th:href="@{/visualizzaChefs}"> Chef </a></li>
        <li class ="voci"><a th:href="@{/visualizzaPiatti}"> Piatti </a></li>
        <li class ="voci" href=""><a th:href="@{/visualizzaIngredienti}"> Ingredienti </a></li>
    </ul>
    </div>
</nav>

<div id="Catering">
 <div id="divPreParagrafo">
     <p class="ScrittaPreParagrafo"> Catering </p>
 </div>

 <div class="divCat">

 </div>

 </div>
</div>


</body>
</html>