<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inserimento piatto form</title>
    <link rel="stylesheet" th:href="@{/css/formInserisciPiatto.css}">
</head>
<body>
<div id="contenitoreTitoloEForm">
    <h2 id="titolo">Inserisci i dati del piatto</h2>
    <div id="contenitoreForm">
<form id="form" th:action="@{/admin/inserimentoPiatto}" method="post" th:object="${piatto}">
    <div id="erroreGlobale" th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div id="contenitoreCampi">
        <div class="contenitoreCampo">
    <span class="campo"> nome: </span><input type="text" th:field="*{nome}" >
    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
        </div>
        <div class="contenitoreCampo">
    <span class="campo"> descrizione: </span><input id="descrizione" type="text" th:field="*{descrizione}" >
        </div>
    </div>
    <div> <button class="bottone" type="submit"> conferma </button> </div>

</form>
    </div>

</div>
</body>
</html>