<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inserimento buffet form</title>
    <link rel="stylesheet" th:href="@{/css/formInserisciBuffet.css}" />
</head>
<body>
<div id="contenitoreTitoloEForm">
<h2 id="titolo">Inserisci i dati del buffet </h2>
<div id="contenitoreForm">
<form id="form"  th:object="${buffet}" th:action="@{/admin/inserisciChefBuffet}" method="post">
    <div id="erroreGlobale" th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div id="contenitoreCampi">
        <div class="contenitoreCampo">
    <span class="campo"> Nome: </span><input  type="text" th:field="*{nome}" >
    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
        </div>
        <div class="contenitoreCampo">
    <span class="campo"> Descrizione: </span> <input id="descrizione" type="text" th:field="*{descrizione}">
        </div>
    <div> <button class="bottone" type="submit"> conferma </button> </div>
    </div>
</form>
</div>
</div>


</body>
</html>