<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form inserimento ingrediente</title>
    <link rel="stylesheet" th:href="@{/css/formInserisciIngrediente.css}">
</head>
<body>
<div id="contenitoreTitoloEForm">
    <h2 id="titolo"> Inserisci i dati dell'ingrediente</h2>
    <div id="contenitoreForm">
<form id="form" th:action="@{/admin/inserisciIngrediente}" th:object="${ingrediente}" method="post">
    <div id="erroreGlobale" th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>
    <div id="contenitoreCampi">
    <div class="contenitoreCampo">
        <span class="campo"> Nome: </span>
        <input type="text" th:field="*{nome}">
    </div>
    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
    <div class="contenitoreCampo">
        <span class="campo"> Origine: </span>
        <input type="text"  th:field="*{origine}">
    </div>
    <div th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></div>
    <div class="contenitoreCampo">
        <span class="campo"> Descrizione: </span>
        <input id="descrizione" type="text"  th:field="*{descrizione}">
    </div>
    </div>
    <button class="bottone" type="submit"> conferma </button>


</form>

    </div>


</div>
</body>
</html>