<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/loginCss.css}" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
<div class="forms">

    <span class="title">Login </span>
    <div id="formLogin">


        <form id="form"th:action="@{/login}" method="post" >

            <span> Username: </span>
            <div>
                <input class="input-field-username"name="username" type="text" placeholder="Username" required>
            </div>


            <span> Password: </span>
            <div >
                <input class="input-field-psw" name="password" type="password" placeholder="Password" required>
                <i class="uil uil-eye-slash showHidePw"></i>
            </div>



            <div class="button__container">
                <button class="login__btn button" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/loginJs.js}"></script>
</body>
</html>