<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="forms">
    <div class="form login">
        <span class="title">Login </span>
        </a>


        <form th:action="@{/login}" method="post" >

            <div class="input-field">
                <input name="username" type="text" placeholder="Enter your email" required>
            </div>
            <div class="input-field">
                <input name="password" type="password" class="password input" placeholder="Enter your password" required>
            </div>



            <div class="button__container">
                <button class="login__btn button" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>