<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>modifica buffet form</title>
</head>
<body>
<form th:action="@{'/admin/modifica/buffet/' + ${buffet.id}}" method="post">
    <div>
        <div>
            <span> nome: </span>
            <input type="text" name="nome" th:field="${buffet.nome}" th:value="${buffet.nome}">
        </div>

        <div>
            <span> descrizione: </span>
            <input type="text" name="descrizione" th:field="${buffet.descrizione}" th:value="${buffet.descrizione}">
        </div>

        <div>
        <div>

            <span> nome chef: </span>
            <input name="nomeChef" th:field="${buffet.chef.nome}" th:value="${buffet.chef.nome}">
        </div>

        <div>
            <span> cognome chef: </span>
            <input name="cognomeChef" th:field="${buffet.chef.cognome}" th:value="${buffet.chef.cognome}">
        </div>

        <div>
            <span> nazionalita chef: </span>
            <input name="nazionalitaChef" th:field="${buffet.chef.nazionalita}" th:value="${buffet.chef.nazionalita}">
        </div>
        </div>

        <div>
            <div th:each="piatto : ${buffet.piatti}">
                <span> nome: </span>
                <input th:value="${piatto.nome}">
                <span> descrizione: </span>
                <input th:value="${piatto.descrizione}">
                <div th:each="ingrediente : ${ingredienti}">
                    <span> nome: </span>
                    <input th:value="${ingrediente.nome}">
                    <span> origine: </span>
                    <input th:value="${ingrediente.origine}">
                    <span> descrizione: </span>
                    <input th:value="${ingredeinte.descrizione}">
                </div>
            </div>


        </div>

        <div>
        </div>


    </div>
    <button type="submit"> conferma modifiche </button>

</form>


</body>
</html>