<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form per la modifica di un piatto</title>
</head>
<body>
<form th:action="@{'/admin/modificaPiatto/' + ${piatto.id}}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>
    <div>
      <span> Nome : </span>
        <input type="text" th:value="${piatto.nome}" th:field="${piatto.nome}">
    </div>
    <div th:if="${#fields.hasErrors('nome')}" th:errors="${piatto.nome}"></div>
    <div>
        <span> Descrizione : </span>
        <input type="text" th:value="${piatto.descrizione}" th:field="${piatto.descrizione}">
    </div>
    <div>
        <a th:href="@{'/admin/visualizzaIngredientiPiatto/' + ${piatto.id}}"> <span> Modifica ingredienti </span></a>
    </div>
    <button type="submit"> Conferma modifiche</button>
</form>

</body>
</html>