<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>modifica chef </title>
    <link rel="stylesheet" th:href="@{/css/formModificaChef.css}">
</head>
<body>
<div id="contenitoreTitoloEForm">
    <h2 id="titolo"> Modifica chef</h2>
    <div id="contenitoreForm">
<form id="form" th:action="@{'/admin/modificaChef/' + ${chef.id}}" method="post" th:object="${chef}">
        <div id="erroreGlobale" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>
        <div id="contenitoreCampi">
        <div class="contenitoreCampo">
            <span class="campo"> Nome: </span>
            <input type="text" th:field="${chef.nome}" th:value="${chef.nome}">
        </div>
        <div th:if="${#fields.hasErrors('nome')}" th:errors="${chef.nome}"></div>
        <div class="contenitoreCampo">
            <span class="campo"> Cognome: </span>
            <input type="text" th:field="${chef.cognome}" th:value="${chef.cognome}">
        </div>
        <div th:if="${#fields.hasErrors('cognome')}" th:errors="${chef.cognome}"></div>
        <div class="contenitoreCampo">
            <span class="campo"> Nazionalita: </span>
            <input type="text" th:field="${chef.nazionalita}" th:value="${chef.nazionalita}">
        </div>
        </div>

        <div th:if="${#fields.hasErrors('nazionalita')}" th:errors="${chef.nazionalita}"></div>
        <div id="contenitoreCampiAgg">
        <a th:href="@{'/admin/visualizzaBuffetProposti/' + ${chef.id}}"> Buffet proposti </a>
        </div>
        <button class="bottone" type="submit"> Conferma modifiche </button>

</form>

    </div>
    </div>

</div>
</body>
</html>