<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>modifica buffet form</title>
    <link rel="stylesheet" th:href="@{/css/formModificaBuffet.css}">
</head>
<body>
<div id="contenitoreTitoloEForm">
    <h2 id="titolo"> Modifica buffet</h2>
    <div id="contenitoreForm">
<form id="form" th:action="@{'/admin/modificaBuffet/' + ${buffet.id}}" method="post" th:object="${buffet}">
    <div id="erroreGlobale" th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>
    <div id="contenitoreCampi">
        <div class="contenitoreCampo">
            <span class="campo"> nome: </span>
            <input type="text" name="nome" th:field="${buffet.nome}" th:value="${buffet.nome}">
        </div>
        <div th:if="${#fields.hasErrors('nome')}" th:errors="${buffet.nome}"></div>

        <div class="contenitoreCampo">
            <span class="campo"> descrizione: </span>
            <input type="text" name="descrizione" th:field="${buffet.descrizione}" th:value="${buffet.descrizione}">
        </div>

        <div id="contenitoreTastiAgg">
       <div class="contenitoreCampo">
           <a th:href="@{'/admin/modificaChefForm/' + ${buffet.chef.id}}"><span> visualizza chef </span> </a>
       </div>
       <div class="contenitoreCampo">
           <a th:href="@{'/admin/visualizzaPiattiBuffet/' + ${buffet.id}}"> visualizza piatti del buffet</a>
       </div>
        </div>



    </div>
    <button class="bottone" type="submit"> conferma modifiche </button>
</form>
    </div>

</div>


</body>
</html>