<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>visualicca chefs</title>
</head>
<body>
<div th:each="chef : ${chefs}">
    <div>
    <span> Nome: </span>
    <a th:href="@{'/visualizzaChef/' + ${chef.id}}"> <span th:text="${chef.nome}"></span> </a>
    </div>
    <div>
        <span> Cognome: </span>
        <span th:text="${chef.cognome}"></span>
    </div>

    <div>
        <span> Nazionalita: </span>
        <span th:text="${chef.nazionalita}"></span>
    </div>
</div>


<footer><a href="/"> Home </a></footer>
</body>
</html>